.restaurant-list {
    padding: 0;
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.restaurant-item {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    max-width: 700px; /* Ancho de la tarjeta */
    display: flex;
    flex-direction: row; /* Orientación horizontal */
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s;
}

.restaurant-item:hover {
    transform: translateY(-5px);
}

.restaurant-image {
    width: 120px; /* Tamaño de la imagen en el lado izquierdo */
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
}

.restaurant-info {
    flex: 1; /* Toma el espacio disponible entre la imagen y los botones */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}

.restaurant-details h3 {
    font-size: 1.4rem;
    margin: 5px 0;
    color: #333;
}

.restaurant-location,
.restaurant-contact,
.restaurant-email {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #555;
    margin-top: 4px;
}

.restaurant-location svg,
.restaurant-contact svg,
.restaurant-email svg {
    margin-right: 5px;
    width: 14px;
    height: 14px;
}

.restaurant-actions {
    display: flex;
    gap: 8px;
}

.action-button {
    background-color: white;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-button:hover {
    background-color: #007bff;
    color: white;
}
